.summary-component {
  padding: 2rem;
  width: 50%;
  padding-left: 1rem;

  h2 {
    margin: 0;
    padding: 0;
  }

  .summary-content {
    border: 1px solid #000000;
    padding: 1rem;
    margin-top: 1rem;

    table {
      width: 100%;

      th {
        text-align: left;
      }
    }
  }
}
